@import '~bootstrap/scss/bootstrap.scss';


div.custom-table-width .table th,
div.custom-table-width .table td{
    border-top: 0px;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

hr.dashboard-hr{
    border: 1px solid #707070 ;
}

.table {
    table-layout: fixed;   
    min-width: 100%;     
}


thead th:first-child,
  tbody th:first-child {
    width: 10%;
}
 
thead th:nth-child(2),
tbody td:nth-child(0) {
    width: 50%;
}

thead th:nth-child(4){
    width: 10%;
}


thead th:last-child,
tbody td:last-child {
    width: 10%;
}



button.btn.btn-primary.btn-sm.search-btn{
    border-radius: 0px 0.2rem 0.2rem 0px;
    width: 4rem;
    height: 100%;
}
input.search-input{
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    border: 1px solid #dee2e6;
}


.icon{
    font-size: 1.25rem;
}


.spinnerArea{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    height: 100vh;
}

