@import '~bootstrap/scss/bootstrap.scss';

.podcastImgArea{
    width: 6.75rem;
    height: 6.75rem;
}

.podcastImgArea img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.custom-table-width .table th,
div.custom-table-width .table td{
    border-top: 0px;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

hr.dashboard-hr{
    border: 1px solid #707070 ;
}

.table {
    table-layout: fixed;   // 表格和欄寬將根據所給定的寬度來顯示
    min-width: 100%;     // 避免因寬度不足而字疊在一起（根據表格內容設定寬度）
  }

tbody th:nth-child(0) {
  width: 10%;
}


tbody td:nth-child(1) {
  width: 10%;
}
